.projects {
  background-color: #242424;
  box-shadow: 5px 5px 20px black;
}
.projects__title {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
}

.projects-img {
  max-width: 525px;
  margin-bottom: 4rem;
}

.projects__description {
  margin-bottom: 2rem !important;
  max-width: 525px;
}

.projects__button {
  margin-right: 2rem !important;
}
