.home {
  height: 100vh;
  font-size: 4rem;
  text-align: center;
  padding-top: 10%;
}
.home__text {
  min-height: 45%;
}
.home__button {
  font-size: 22px;
  font-weight: 700;
 
  position: sticky;
  background-color: #111111;
  color: #08fdd8;
  padding: 10px 18px;
  border: 1px solid #08fdd8;
  box-shadow: 5px 5px  #08fdd8;
}
.home__button:hover {
  text-decoration: none;
  color: black;
  background-color: #08fdd8;
  box-shadow: 10px 10px  black;
}

.home__social {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.nav-item {
  list-style: none;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #08fdd8;
}
