.home {
  height: 100vh;
  font-size: 5rem;
  text-align: center;
  padding-top: 10%;
}
.home__text {
  min-height: 45%;
}
.home__button {
  font-weight: 700;
  position: sticky;
  margin-top: -0rem;
  margin-left: 1rem;
  background-color: #111111;
  color: #08fdd8;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid #08fdd8;
  -webkit-animation: myanim2 1s 1.8s backwards;
  animation: myanim2 1s 1.8s backwards;
  box-shadow: 5px 5px 1px #08fdd8;
}
.home__button:hover {
  text-decoration: none;
  color: black;
  background-color: #08fdd8;
  box-shadow: 5px 5px 1px black;
}
.home__button:active {
  text-decoration: none;
  color: black;

  border: green;
  box-shadow: 5px 5px 1px black;
}
.home__social{
  position: absolute;
  bottom: 20px;
  right: 30px;
  
}

.nav-item{
  list-style:none;
}

.nav-link{
  color: white !important;
  font-size: 40px !important;
}