.home {
  height: calc(100vh - 56px);
  font-size: 4rem;
  text-align: center;
}
.home__text {
  position: relative;
  top: 20%;
  min-height: 45%;
}
.home__button {
  margin-top: 7%;
  font-size: 25px;
  font-weight: 700;
  background-color: #111111;
  color: #08fdd8;
  padding: 15px 30px;
  border: 1px solid #08fdd8;
  box-shadow: 5px 5px #08fdd8;
}
.home__button:hover {
  text-decoration: none;
  color: black;
  background-color: #08fdd8;
  box-shadow: 10px 10px black;
}

.home__social {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.nav-item {
  list-style: none;
  display: inline;
  padding: 40px;
}

.nav-link {
  color: white;
}
.nav-link:hover {
  color: #08fdd8;
}
